body {
    width: 1000px;
    background-color: #EEEEEE;
}

#title {
    width: 720px;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: center;
}

#title h1 {
    margin-top: 220px;
    font-size: 20px;
    color: #777777;
}

#title p {
    margin-top: 270px;
    font-size: 12px;
}

#title p span {
    font-weight: 800;
}

#manual {
    width: 279px;
    margin-left: 721px;
}

#manual h2 {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0px;
}

#manual table {
    font-size: 12px;
}

#manual table thead tr th {
    background-color: #DDDDDD;
}

#manual table thead tr th, #manual table tbody tr td {
    padding: 3px;
    border: solid 1px #CCCCCC;
}

#manual .right {
    text-align: right;
}

#manual .center {
    text-align: center;
}
